#topheader{
  height:auto;
  width:100%;
  font-size:1.4em;
}
.navbar{
  border-bottom:3px #777777 solid;
  background-color:black;
  margin-bottom:0;
}
#obele{
  font-family: 'Brush Script MT', cursive;
  font-size:3em;
  color:white;
}
#logo{
  color:#A86427;
}
#menuDiv{
  height:auto;
}
#menu{
  height:auto;
}
@media screen and (max-width:790px){
  #menu{
    margin:0 auto;
    width:300px;
    text-align:center;
  }
}
.banner{
  position:relative;
  height:490px;
}
.bannerImage{
  width:100%;
  height:100%;
}
.textBanner{
  position:absolute;
  top:50px;
  background-color:rgba(0,0,0,0.5);
  width:100%;
  height:440px;
  color:#999999;
  overflow:none;
  padding-top:150px;
}
.textBanner h1{
  font-family: 'Brush Script MT', cursive;
	
    font-style: normal;
	font-weight: bold;
	margin-top: 70px;
}
/*about section*/
.about{
  height:370px;
}
hr {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.worktitleDiv {
    position: relative;
    top: 65px;
}
#heading{
  border-bottom: 1px solid #5BC0DE;
  margin-bottom:5px;
  width:200px; 
  letter-spacing: 5px;
}
#about{
  height:auto;
  background-color:#343338;
}
#aboutImage{
 width: 100%;
    position: absolute;
    top: 23%;
}
.aboutImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #777777;
    margin: auto;
}
.aboutParagraph{
  width:100%;
  font-size:2em;
  margin-top:5%;
  color:#9A5D27;
  padding-left:80px;
  padding-right:80px;
}
.aboutRight{
  padding-top:8%;
  font-size:1.4em;
}
/*portfolio*/
#work{
  background-color:#343338;
}
.work-list{
	padding: 60px 0px;
}
.heading-text
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
	margin-bottom:5px;
	margin-top:10px;
  color:#777777;
}
h2.heading-text::after {
    display: block;
    margin: 17px auto 0px;
    width: 80px;
    height: 1px;
    background: #777777 none repeat scroll 0% 0%;
    content: "";
}
.work-list a .featured-img
{
  background-color:black;
  padding:5px;
	width: 100%;
}
.work-list a .featured-img img
{
	width: 100%;
	height: 300px;
		
}

.image-hover i{
	color: rgba(138, 184, 57, 0);
	font-size:30px;
	line-height: 200px;
	transition: 5s color ease-in;
	display: none;
}
.image-hover:hover i
{	display: block;
	color: #212A3F;
}
.work-list a h3 {
    text-align: center;
    padding: 15px 0px;
    font-size: 15px;
    float: left;
    width: 100%;
    font-weight: 600;
	background: #02243E;
	color:#fff;
	margin:0px;
	font-family: 'Roboto', sans-serif;
}
.work-space
{
	margin: 10px 0px;
  padding:5px;
	
}

.icon{
  width:20px;
  height:20px;
  background-color:#777777;
  color:white;
}
.btn{
  background-color:#777777;
}
.socialbtn{
  width:auto;
  height:auto;
}
.social{
  display:inline;
  width:100px;
}
.projects{
  display:flex;
  flex-wrap:wrap;
}
#mybox{
   -moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
  width:29%;
  height:300px;
  padding:5px;
  background-color:black;
  margin:18px;
  
}
@media screen and (max-width:904px){
  #mybox{
    width:90%;
    margin:10px;
    height:350px;
  }
}
#mybox a{
  color:#999999;
}
#mybox img{
  width:100%;
  height:80%;
}
/*footer*/
.footer{
  background-color:black;
  height:50px;
  margin-top:10px;
  border-top:2px solid #777777;
}
.footer p{
  padding-top:10px;
  color:#777777;
}
@media screen and (max-width: 904px){
     .box {
       width: 60%; 
       align:center;
       
  }
 }
.menu li:hover {
	background-color: #9B5C24;
	color:white;
	text-decoration:none;
}
#name{
  color:#777777;
}

